@model ApplicationCore.Models.ExpenditureRequestModel


<div class="col-md-4">
    <form asp-action="CreateIncome" id="Form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="@Model.Amount" class="form-control" />

        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="@Model.Description" class="form-control" />

        </div>
        <div class="form-group">
            <label asp-for="Remarks" class="control-label"></label>
            <input asp-for="@Model.Remarks" class="form-control" />

        </div>
        <div class="form-group">
            <label asp-for="ExpDate" class="control-label"></label>
            <input asp-for="@Model.ExpDate" class="form-control" />

        </div>
        <div class="form-group">
            <label asp-for="UserId" class="control-label"></label>
            <input asp-for="@Model.UserId" class="form-control" />

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-link" asp-action="CreateExpense"> Submit Changes</button>
        </div>
    </form>
</div>
