@model ApplicationCore.Models.ExpenditureRequestModel


<div class="col-md-4">
    <form asp-action="updateIncome" id="@Model.Id">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.Amount" class="control-label"></label>
            <input asp-for="@Model.Amount" class="form-control" />

        </div>
        <div class="form-group">
            <label asp-for="@Model.Description" class="control-label"></label>
            <input asp-for="@Model.Description" class="form-control" />

        </div>
        <div class="form-group">
            <label asp-for="@Model.Remarks" class="control-label"></label>
            <input asp-for="@Model.Remarks" class="form-control" />

        </div>
        <div class="form-group">
            <label asp-for="@Model.ExpDate" class="control-label"></label>
            <input asp-for="@Model.ExpDate" class="form-control" />

        </div>
        <div class="form-group">
            <label asp-for="@Model.UserId" class="control-label"></label>
            <input asp-for="@Model.UserId" class="form-control" />

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-link" asp-action="UpdateExpense"> Submit Changes</button>
        </div>
    </form>
</div>
            </tbody>

        </table>

    </div>